<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Likes count:</strong>
  <%= @comment.likes_count %>
</p>

<%= link_to 'Back', comments_path %>
